<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/5393c524-ef12-4de0-b54c-4a939cdc7a07/resourceGroups/Catstagram/providers/Microsoft.Web/sites/ApiWebFood</ResourceId>
    <ResourceGroup>Catstagram</ResourceGroup>
    <ApiResourceId>/subscriptions/5393c524-ef12-4de0-b54c-4a939cdc7a07/resourceGroups/Catstagram/providers/Microsoft.ApiManagement/service/ApiWebFoodapi/apis/ApiWebFood</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://apiwebfood.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>75df66ff-a28a-4758-b6e5-648b99f92223</ProjectGuid>
    <PublishUrl>https://apiwebfood.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ApiWebFood</UserName>
    <_SavePWD>true</_SavePWD>
    <TargetFramework>net6.0</TargetFramework>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>